/*
Name: Tushar Khurana
Date: April 8th 2020
Section: CSE 154 AG
TA: Kyle Christian Roland

This file contains the styles for a personal website for my CP1 project
*/

/* General */

body {
  /* background-color: #ffffff; */
  background-color: #dbdbdb;
  min-height: 100vh;
  margin: 0px auto 0px;
  font-family: 'Open Sans', sans-serif;
}

/* body > footer { */
#main-flex-container > footer {
  flex-basis: 100px;
  border-top: 2px solid #000000;
}

a:link {
  color: inherit;
  text-decoration: currentColor solid;
}

img {
  max-width: 100%;
  height: auto;
}

/* Flex container Properties */
/* div.main-flex-container */
/* body, header, nav, footer { */
#main-flex-container, header, nav, footer {
  display: flex;
}

/* body , main { */
#main-flex-container, main {
  flex-direction: column;
}

nav, footer {
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  /* border-bottom: 2px solid #000000; */
  transition: top 500ms;
}

header.sticky {
  top: -60px;
  width: 100%;
  height: 60px;
}

header.sticky.visible {
  top: 0;
}

header h1 {
  margin: 20px;
  min-width: 250px;
  font-weight: normal;
  margin-right: auto;
}

/* Navigation */

nav {
  height: 100%;
  width: 100%;
  padding: 0px 10%;
  margin-top: auto;
  margin-bottom: auto;
}

nav a {
  margin: 0px 20px;
}

#search {
  font-size: 1.25rem;
  color: #454545;
  border: 0;
  width: 8rem;
  margin: 0px 20px;
}

/* Search Results */

#search-results-box {
  position: fixed;
  top: 8%;
  right: 15%;
  background-color: whitesmoke;
  z-index: 100;
  height: auto;
  width: 30rem;
  overflow-y: scroll;
  box-shadow: 2px 2px 2px 1px #7c7979;
  border-radius: 0.25rem;
}

.search-result {
  display: flex;
  justify-content: start;
  align-items: center;
  width: auto;
  height: 4rem;
  /* border: black 2px solid; */
}

.search-result:hover {
  background-color: #e8e0f0;
}

span.search-result-page-name {
  color: #292929;
  font-size: 1.1rem;
  text-align: center;
  border-right: 1px grey solid;
  flex-basis: 30%;
  min-width: 8rem;
  height: 2.5rem;
  line-height: 2.5rem;

}

span.search-result-page-content {
  text-align: center;
  /* border: 1px white solid; */
  margin: 1.5rem;
  width: auto;
  color: #4d4d4d;
}

/* Main */

main {
  flex: 1 0 auto;
  margin-top: 150px;
}

main a:link {
  text-decoration: underline currentColor solid;
}

/* Main and Footer */

main, footer {
  padding: 10px 25%;
}

/* Footer */

footer a {
  padding: 0px 10px 0px;
}